!!! 5
html(lang="en")
    head
        title= "Galaxy Viewer"
    body
        h2.header Galaxy Viewer
        div#galaxyContainer
        script(type = "text/javascript" src = "/js/three.js")
        script(type = "text/javascript" src = "/js/galaxyRender.js")